@{ 
    Layout = "_Layout";
}

<div class="container">
    <div>Welcome to the Cradle of Filth School of Death Metal!</div>
</div>
    <a class="btn btn-success" asp-controller="Course" asp-action="Index">View All Courses</a>
    <a class="btn btn-success" asp-controller="Student" asp-action="Index">View All Students</a>

