@model CradleOfFilth.Models.Course
@{
    Layout = "_Layout";
}

<h2>@Model.CourseName</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>@Model.CourseName</p>
            <p>@Model.Description</p>
        </div>
    </div>
</div>